<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/vue-material/dist/vue-material.min.css">
    <link rel="stylesheet" href="https://unpkg.com/vue-material/dist/theme/black-green-light.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dota 2 - stats</title>
</head>
<body>
     <script type="text/javascript">
       window.config = {{{toJSON config}}};
       window.navigation = {{{toJSON navigation}}};
    </script>
    <script src="./extLib/vue.min.js"></script>
    <script src="./extLib/vue-material.min.js"></script>
    <div id="app">Упс, похоже Vue приказал долго жить ;(</div>
    <script src="./main.js"></script>
</body>
</html>