.md-card {
  width: 96%;
  margin: 12px 4px 4px 4px;
  display: inline-block;
  vertical-align: top;
}

.table-match-info {
  width: 100%;
  text-align: center
}

.md-title {
  text-align: center;
  margin-bottom: 10px !important;
}

.radiant {
  color: #64dd17;
}

.dire {
  color: red;
}